<tr>
	<th><%= book.name %></th>
	<th><%= book.author %></th>
	<th><%= book.serial %></th>
	<th><%= book.version %></th>
	<% if(book.has_borrowed) {%>
		<th>已借出</th>
	<%} else {%>
		<th>未借出</th>
	<%}%>
	<% if(book.has_borrowed) {%>
		<th>
			<a href="#" class="btn btn-primary returnbtn" data-bookid='<%= book.id %>'>还书</a>
			<a href="#" class="btn btn-primary detailbtn" data-bookid='<%= book.id %>'>详情</a>
			<a href="/book/history?book_id=<%= book.id %>" class="btn btn-primary">借阅历史</a>
		</th>
	<%} else {%>
		<th>
			<a type="button" class="btn btn-primary borrowerbtn" data-bookid='<%= book.id %>'>借阅</a>
			<a href="/book/history?book_id=<%= book.id %>" class="btn btn-primary">借阅历史</a>
		</th>
	<%}%>
</tr>
<% if(book.has_borrowed) {%>
	<tr id='detail<%= book.id%>' style="display:none;">
		<td colspan="6">
			<table>
				<thead>
					<tr>
						<th>借阅人</th>
						<th>借出时间</th>
						<th>还书时间</th>
					</tr>
					<tr>
						<th><%= book.borrower.name %></th>
						<th><%= book.out_time %></th>
						<th><%= book.return_time %></th>
					</tr>
				</thead>
			</table>	
		</td>
	<tr>
<%}%>
