<div class="container">
	<form class="form-horizontal" role="form" action="add" method="post">
		<div class="form-group">
			<label for="book_name" class="col-md-2 control-label">书名</label>
			<div class="col-md-6">
				<input type="text" name="book_name" class="form-control" id="book_name" placeholder="书名">
			</div>
		</div>
		<div class="form-group">
			<label for="book_author" class="col-md-2 control-label">作者</label>
			<div class="col-md-6">
				<input type="text" name="book_author" class="form-control" id="book_author" placeholder="作者">
			</div>
		</div>
		<div class="form-group">
			<label for="book_serial" class="col-md-2 control-label">序列号</label>
			<div class="col-md-6">
				<input type="text" name="book_serial" placeholder="序列号" id="book_serial" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="book_version" class="col-md-2 control-label">版本号</label>
			<div class="col-md-6">
				<input type="text" name="book_version" placeholder="版本号" id="book_version" class="form-control">
			</div>
		</div>
		<button type="submit" class="btn btn-success btn-block" id="submit_btn">提交</button>
	</form>
</div>
<script>

</script>